.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #282c34;
  padding: 10px 20px;
}

.title {
  color: #fff;
  font-size: 24px;
}

.navList {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
}

.link {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

.link:hover {
  color: #61dafb;
}

.link-button {
  margin-bottom: 1rem;
  font-size: 1.1em;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
